In [2]:
aa = 22
print aa

22

In [7]:
import numpy as np
#from np import arange

def square_list1(N):
    squares = []
    for n in range(N):
        squares += [n**2]
    return squares

def square_list2(N):
    squares = []
    for n in range(N):
        #append라고 이미 정의된 메소드 이용하는 방법
        squares.append(n**2)
    return squares

def square_list3(N):
    return [n**2 for n in range(N)]

import numpy as np

def square_array(N):
    
    return arange(N)**2

import time

n = 1000000
t1 = time.time()
square_list1(n)
t2 = time.time()
print t2 - t1

t1 = time.time()
square_list2(n)
t2 = time.time()
print t2 - t1

t1 = time.time()
square_list3(n)
t2 = time.time()
print t2 - t1

1.10500001907
1.05100011826
1.007999897

In [9]:
#사용준비
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

import pandas
stock_Price_Series = pandas.Series([10000,10300,9900,10500,11000])


stock_Price_List = [10000,10300,9900,10500,11000]
stock_Price_Series = Series([10000,10300,9900,10500,11000])#Series(stock_Price_List)

#다양하게 선언하는 스타일이 있기때문에 그점에대해서는 잘살펴보면된다.
# import pandas
# stock_Price_Series = pandas.Series([10000,10300,9900,10500,11000])

#stock_Price_Series = pd.Series([10000,10300,9900,10500,11000])
#stock_Price_Series = pandas.Series([10000,10300,9900,10500,11000])

In [10]:
stock_Price_List

[10000, 10300, 9900, 10500, 11000]

In [12]:
stock_Price_Series

0    10000
1    10300
2     9900
3    10500
4    11000
dtype: int64

In [13]:
stock_Price_List[0]

10000

In [14]:
stock_Price_Series[0]

10000

In [26]:
#List vs Pandas Series(2)
stock_Price_Series_withIndex = Series([10000,10300,9900,10500,11000],
                                      index = ["2016-03-01","2016-03-02","2016-03-03","2016-03-04","2016-03-05"])

In [32]:
stock_Price_Series_withIndex

2016-03-01    10000
2016-03-02    10300
2016-03-03     9900
2016-03-04    10500
2016-03-05    11000
dtype: int64

In [33]:
stock_Price_Series_withIndex["2016-03-01"]

10000

In [35]:
stock_Price_Series_withIndex[0]

10000

In [36]:
stock_Price_Series_withIndex.index #리스트로 리턴됨

Index([u'2016-03-01', u'2016-03-02', u'2016-03-03', u'2016-03-04',
       u'2016-03-05'],
      dtype='object')

In [42]:
stock_Price_Series_withIndex.index[2]

'2016-03-03'

In [48]:
for i in stock_Price_Series_withIndex.index:
    print i

2016-03-01
2016-03-02
2016-03-03
2016-03-04
2016-03-05

In [49]:
for i in stock_Price_Series_withIndex.values:
    print i

10000
10300
9900
10500
11000

In [50]:
for i in range(0,len(stock_Price_Series_withIndex)):
    print "Index:" + stock_Price_Series_withIndex.index[i]
    print "Value:" + str(stock_Price_Series_withIndex[i])

Index:2016-03-01
Value:10000
Index:2016-03-02
Value:10300
Index:2016-03-03
Value:9900
Index:2016-03-04
Value:10500
Index:2016-03-05
Value:11000

In [56]:
stock_Price_Series_withIndex[[0,3]]

2016-03-01    10000
2016-03-04    10500
dtype: int64

In [57]:
stock_Price_Series_withIndex[["2016-03-01","2016-03-03"]]

2016-03-01    10000
2016-03-03     9900
dtype: int64

In [58]:
stock_Price_List[0]

10000

In [59]:
stock_Price_List[0:3]

[10000, 10300, 9900]

In [62]:
#error -> 리스트는 기본적으로 슬라이싱을 통해서 하지만 리스트안에 리스트를 넣어서 하면 안됨ㅇㅇ
stock_Price_List[[0,3]]

TypeError: list indices must be integers, not list

In [64]:
#Sol1)Use Lisr and for loop -> 위의 문제는 이런식으로 해결할수도있다.ㅇㅇ 
search_index = [0,3]
[stock_Price_List[i] for i in search_index]

[10000, 10500]

In [65]:
stock_Price_Series_withIndex*2 #값을 젠체적으로 2배로 뻥튀기 하는 방법ㅇㅇ

2016-03-01    20000
2016-03-02    20600
2016-03-03    19800
2016-03-04    21000
2016-03-05    22000
dtype: int64

In [66]:
stock_Price_Series_withIndex[stock_Price_Series_withIndex > 10000]

2016-03-02    10300
2016-03-04    10500
2016-03-05    11000
dtype: int64

In [67]:
np.add(stock_Price_Series_withIndex,100) #전체적인 값을 + 100을 해줌ㅇㅇ

2016-03-01    10100
2016-03-02    10400
2016-03-03    10000
2016-03-04    10600
2016-03-05    11100
dtype: int64

In [68]:
#Series - 다양한 기능 - index 관련
print stock_Price_Series_withIndex
print "2016-03-04" in stock_Price_Series_withIndex#in을 쓰면 저 인덱스가있는지를 물어보는거임ㅇㅇ

2016-03-01    10000
2016-03-02    10300
2016-03-03     9900
2016-03-04    10500
2016-03-05    11000
dtype: int64
True

In [70]:
10100 in stock_Price_Series_withIndex #이건 인덱스에 대해서 서치하기때문에 벨류를 물어봐도 false를 반환함.

False

In [73]:
"2016-03-5" in stock_Price_Series_withIndex #문자열인덱스는 조금만 달라도 false를 반환

False

In [75]:
#Series - index관련
sdata  = {"O":1000,"T":2000,"O2":3000}
obj3 = Series(sdata)
obj3 #보다시피 딕셔너리를 시리즈로 만들면 키값이 자동으로 인덱스값으로 변해짐ㅇㅇ

O     1000
O2    3000
T     2000
dtype: int64

In [78]:
#가져올때 - > 인덱스를 지정하는것을 기준으로 앞에 값을 뒤져봐서 있는것만 가지고온다.
states = ["C","O","O2"]
obj4 = Series(sdata,states)
obj4

#이때 NaN 이 나오는 경우를 빼버림을써 불확실한 데이터들은 제거할수있다.

C        NaN
O     1000.0
O2    3000.0
dtype: float64

In [79]:
#Series - NaN관련
vals1= np.array([1,None,3,4])
vals1

array([1, None, 3, 4], dtype=object)

In [80]:
pd.isnull(vals1) #null이면 true반환

array([False,  True, False, False], dtype=bool)

In [81]:
pd.notnull(vals1) #notnull이면 true반환

array([ True, False,  True,  True], dtype=bool)

In [82]:
pd.isnull(obj4)

C      True
O     False
O2    False
dtype: bool

In [ ]:
pd.notnull(obj4)

In [83]:
#판다스같은경우 or연산을 많이해서 있으면 있는대로 가져오고 없으면 없는대로 가져옴

print obj3 + obj4
print obj3 * obj4
print obj3 - obj4
print obj3 / obj4
print obj3 *2 -  obj4 * 3

C        NaN
O     2000.0
O2    6000.0
T        NaN
dtype: float64
C           NaN
O     1000000.0
O2    9000000.0
T           NaN
dtype: float64
C     NaN
O     0.0
O2    0.0
T     NaN
dtype: float64
C     NaN
O     1.0
O2    1.0
T     NaN
dtype: float64
C        NaN
O    -1000.0
O2   -3000.0
T        NaN
dtype: float64

In [84]:
#Pandas - Series - 기타 - index 이름 부여
stock_Price_Series_withIndex.index

Index([u'2016-03-01', u'2016-03-02', u'2016-03-03', u'2016-03-04',
       u'2016-03-05'],
      dtype='object')

In [90]:
stock_Price_Series_withIndex.index.name = "name!!"
stock_Price_Series_withIndex.index

Index([u'2016-03-01', u'2016-03-02', u'2016-03-03', u'2016-03-04',
       u'2016-03-05'],
      dtype='object', name=u'name!!')

In [91]:
stock_Price_Series_withIndex

name!!
2016-03-01    10000
2016-03-02    10300
2016-03-03     9900
2016-03-04    10500
2016-03-05    11000
dtype: int64

In [92]:
stock_Price_Series_withIndex.shape
stock_Price_Series_withIndex.size

5

In [93]:
#자료 접근 at/iat
#at은 내가만든 인덱스, iat는 태생적으로 가지고있는 정수index
stock_Price_Series_withIndex.at[0]

ValueError: At based indexing on an non-integer index can only have non-integer indexers

In [95]:
print stock_Price_Series_withIndex.at["2016-03-01"]
print stock_Price_Series_withIndex.iat[2]

10000
9900

In [96]:
print stock_Price_Series_withIndex.loc["2016-03-01":"2016-03-03"] #범위지정해서 
print stock_Price_Series_withIndex.loc[["2016-03-01","2016-03-03"]] #특정하게 지정해서

name!!
2016-03-01    10000
2016-03-02    10300
2016-03-03     9900
dtype: int64
name!!
2016-03-01    10000
2016-03-03     9900
dtype: int64

In [98]:
#print stock_Price_Series_withIndex.loc[0:3] #이러면 에러남
print stock_Price_Series_withIndex.iloc[0:3] #이렇게 iloc로 해야지 작동이 된다.
print stock_Price_Series_withIndex.iloc[[0,3]]

name!!
2016-03-01    10000
2016-03-02    10300
2016-03-03     9900
dtype: int64
name!!
2016-03-01    10000
2016-03-04    10500
dtype: int64

In [101]:
#ix -> 이것저것신경안쓰고 그냥쓸수있음.
print stock_Price_Series_withIndex.ix[0]
print stock_Price_Series_withIndex.ix["2016-03-01"]

print stock_Price_Series_withIndex.ix[0,3]
print stock_Price_Series_withIndex.ix["2016-03-01","2016-03-03"]

print stock_Price_Series_withIndex.ix[0:3]
print stock_Price_Series_withIndex.ix["2016-03-01":"2016-03-03"]

10000
10000
10000
10000
name!!
2016-03-01    10000
2016-03-02    10300
2016-03-03     9900
dtype: int64
name!!
2016-03-01    10000
2016-03-02    10300
2016-03-03     9900
dtype: int64

In [102]:


print stock_Price_Series_withIndex
print stock_Price_Series_withIndex.count

name!!
2016-03-01    10000
2016-03-02    10300
2016-03-03     9900
2016-03-04    10500
2016-03-05    11000
dtype: int64
<bound method Series.count of name!!
2016-03-01    10000
2016-03-02    10300
2016-03-03     9900
2016-03-04    10500
2016-03-05    11000
dtype: int64>

In [103]:
add_data = Series([12345],index = ["2016-03-07"])
print stock_Price_Series_withIndex.append(add_data)
print stock_Price_Series_withIndex

2016-03-01    10000
2016-03-02    10300
2016-03-03     9900
2016-03-04    10500
2016-03-05    11000
2016-03-07    12345
dtype: int64
name!!
2016-03-01    10000
2016-03-02    10300
2016-03-03     9900
2016-03-04    10500
2016-03-05    11000
dtype: int64

In [105]:
print stock_Price_Series_withIndex.max() #이런식도 가능하니까 함수를 찾아보자.
print stock_Price_Series_withIndex.min()

11000
9900

In [106]:

#DataFrame
d = [0,1,2,3,4]
df = pd.DataFrame(d)
print df
df.columns = ["column1"] #세로줄 인덱스 설정 
print df

   0
0  0
1  1
2  2
3  3
4  4
   column1
0        0
1        1
2        2
3        3
4        4

In [107]:
df["newCol"] = d
print df
df["newCol2"] = 5
print df

   column1  newCol
0        0       0
1        1       1
2        2       2
3        3       3
4        4       4
   column1  newCol  newCol2
0        0       0        5
1        1       1        5
2        2       2        5
3        3       3        5
4        4       4        5

In [109]:
df["newCol3"] = df["newCol2"]*100
df

   column1  newCol  newCol2  newCol3
0        0       0        5      500
1        1       1        5      500
2        2       2        5      500
3        3       3        5      500
4        4       4        5      500

In [110]:
print df.ix[1,2]
df.ix[1,2] = 2000
print df

5
   column1  newCol  newCol2  newCol3
0        0       0        5      500
1        1       1     2000      500
2        2       2        5      500
3        3       3        5      500
4        4       4        5      500

In [111]:
#컬럼 제거 방법1 -> del 
print df
del df["column1"]
print df

   column1  newCol  newCol2  newCol3
0        0       0        5      500
1        1       1     2000      500
2        2       2        5      500
3        3       3        5      500
4        4       4        5      500
   newCol  newCol2  newCol3
0       0        5      500
1       1     2000      500
2       2        5      500
3       3        5      500
4       4        5      500

In [113]:
#컬럼 제거 방법 2 -> 필요한 컬럼만 살려두고 나머지 지우는 방법 
print df.columns.values
newColList = [
    'newCol2',
    'newCol3'
]
df = df[newColList]
df
#df = df[['newCol2','newCol3']] #이런식도 가능ㅇㅇ

['newCol2' 'newCol3']

   newCol2  newCol3
0        5      500
1     2000      500
2        5      500
3        5      500
4        5      500

In [117]:
#컬럼 제거 방법 3 - drop -> 할때는 가로줄을 지울지(axis=1) 세로줄을(axis=0) 지울지 정해야함ㅇㅇ
print df.drop("newCol2",axis=1)
print df.drop(1,axis=0)

   newCol3
0      500
1      500
2      500
3      500
4      500
   newCol2  newCol3
0        5      500
2        5      500
3        5      500
4        5      500

In [118]:
#index이름 
df.index.name  = "Count"
df

       newCol2  newCol3
Count
0            5      500
1         2000      500
2            5      500
3            5      500
4            5      500

In [136]:
stock_Price_Series_withIndex = pd.DataFrame([1000,999,8888,333,1111],index = (["1일","2일","3일","4일","5일"]))
stock_Price_Series_withIndex
stock_Price_Series_withIndex["시가"] =  stock_Price_Series_withIndex[0]*1.1
stock_Price_Series_withIndex["종가"] =  stock_Price_Series_withIndex[0]*1.5
stock_Price_Series_withIndex["고가"] =  stock_Price_Series_withIndex[0]*3
stock_Price_Series_withIndex["저가"] =  stock_Price_Series_withIndex[0]*0.5
stock_Price_Series_withIndex["고가"] = stock_Price_Series_withIndex["고가"]*2

print stock_Price_Series_withIndex

#컬럼 이름 변경 방법
stock_Price_Series_withIndex.rename(columns = {0:"바뀌는거"},inplace=True) #문자열로 "0"으로 할경우에는 안함ㅇㅇ2

stock_Price_Series_withIndex

       0      시가       종가     고가      저가
1일  1000  1100.0   1500.0   6000   500.0
2일   999  1098.9   1498.5   5994   499.5
3일  8888  9776.8  13332.0  53328  4444.0
4일   333   366.3    499.5   1998   166.5
5일  1111  1222.1   1666.5   6666   555.5

    바뀌는거      시가       종가     고가      저가
1일  1000  1100.0   1500.0   6000   500.0
2일   999  1098.9   1498.5   5994   499.5
3일  8888  9776.8  13332.0  53328  4444.0
4일   333   366.3    499.5   1998   166.5
5일  1111  1222.1   1666.5   6666   555.5

In [142]:
#print stock_Price_DF_withIndex.iat[0]  #이게 에러가 나는겨우 -> 
#at은 하나의 값만 access하는 건데 2차원에서 하나의 값에 access하기위해서는 키값이 두개가 필요하다.
print stock_Price_Series_withIndex.iat[0,0]

#여러개 들고오고싶을경우
print stock_Price_Series_withIndex.iloc[0,0:3]


#ix로 하면 섞어서 쓸수있다.
print stock_Price_Series_withIndex.ix[0,0]
print stock_Price_Series_withIndex.ix[0,0:3]
print stock_Price_Series_withIndex.ix["1일"]
print stock_Price_Series_withIndex.ix["1일":"3일",0:3]

1000
바뀌는거    1000.0
시가      1100.0
종가      1500.0
Name: 1일, dtype: float64
1000.0
바뀌는거    1000.0
시가      1100.0
종가      1500.0
Name: 1일, dtype: float64
바뀌는거    1000.0
시가      1100.0
종가      1500.0
고가      6000.0
저가       500.0
Name: 1일, dtype: float64
    바뀌는거      시가       종가
1일  1000  1100.0   1500.0
2일   999  1098.9   1498.5
3일  8888  9776.8  13332.0

In [144]:
#Search
print stock_Price_Series_withIndex.ix["1일"]["시가"]
print stock_Price_Series_withIndex.ix[0]["고가"]

1100.0
6000.0

In [148]:
#컬럼접근
print stock_Price_Series_withIndex["시가"]
print stock_Price_Series_withIndex[["시가","종가"]]
print stock_Price_Series_withIndex.ix[:,["시가","종가"]]#ix는 가로줄/세로줄 순이다. 하나만있을경우는 컬럼순

1일    1100.0
2일    1098.9
3일    9776.8
4일     366.3
5일    1222.1
Name: 시가, dtype: float64
        시가       종가
1일  1100.0   1500.0
2일  1098.9   1498.5
3일  9776.8  13332.0
4일   366.3    499.5
5일  1222.1   1666.5
        시가       종가
1일  1100.0   1500.0
2일  1098.9   1498.5
3일  9776.8  13332.0
4일   366.3    499.5
5일  1222.1   1666.5

In [152]:
print stock_Price_Series_withIndex.T #바뀌줌
print stock_Price_Series_withIndex.values #값들로 던져줌
print stock_Price_Series_withIndex.shape #행렬사이즈를 가져옴
print stock_Price_Series_withIndex.size #값이 몇개인지
print stock_Price_Series_withIndex.ndim #몇차원인지에대해서

          1일      2일       3일      4일      5일
바뀌는거  1000.0   999.0   8888.0   333.0  1111.0
시가    1100.0  1098.9   9776.8   366.3  1222.1
종가    1500.0  1498.5  13332.0   499.5  1666.5
고가    6000.0  5994.0  53328.0  1998.0  6666.0
저가     500.0   499.5   4444.0   166.5   555.5
[[  1000.    1100.    1500.    6000.     500. ]
 [   999.    1098.9   1498.5   5994.     499.5]
 [  8888.    9776.8  13332.   53328.    4444. ]
 [   333.     366.3    499.5   1998.     166.5]
 [  1111.    1222.1   1666.5   6666.     555.5]]
(5, 5)
25
2

In [154]:
#ReIndex
obj = Series([4,5,7,2,-5,3],index = ["a","b","c"])
obj2= obj.reindex(["a","b","c","d","e"])  #기존에 있던 데이터에서 인덱스만 세팅하고 없는 인덱스는 NaN이 나온다.
obj3= obj.reindex(["a","b"])#이경우는 데이터가 줄어듬.

ValueError: Wrong number of items passed 6, placement implies 3

In [155]:
#그럼 빠진값을 채우는 방법 
obj.reindex(["a","b","c","d","e"],fill_value = 0) #없을경우 0 으로 처리

AttributeError: 'list' object has no attribute 'reindex'

In [157]:
#보간법 -> 등간격으로 조정해서 비슷하게 넣을수도있다.
obj = Series([4,5,7,2,-5,3],index = ["c","b","a"])
print obj

ValueError: Wrong number of items passed 6, placement implies 3

In [162]:
obj = pd.DataFrame([-5,3,0],index=["a","b","c"])
print obj
obj = obj.reindex(["a","d","e","c","b"])
print obj
obj["interPo"] = obj.ix[:,0].interpolate()#보간법은 interpolate이다.
obj

#보간법은 앞뒤의 중간값을 가져오는것이기 때문에 항상 맨 위와 아래가 널인지를 고려해봐야한다,

   0
a -5
b  3
c  0
     0
a -5.0
d  NaN
e  NaN
c  0.0
b  3.0

     0   interPo
a -5.0 -5.000000
d  NaN -3.333333
e  NaN -1.666667
c  0.0  0.000000
b  3.0  3.000000

In [165]:

print stock_Price_Series_withIndex

print stock_Price_Series_withIndex.sort_index
print stock_Price_Series_withIndex.sort_index(axis=0)#가로축을 기본으로 하겠다는뜻 #컬럼이름을 abc ㄱㄴㄷ 순으로 정렬
print stock_Price_Series_withIndex.sort_index(axis=1)#세로축을 기본으로 하겠다는뜻 #컬럼이름을 abc ㄱㄴㄷ 순으로 정렬
print stock_Price_Series_withIndex.sort_index(axis=0,ascending=True)#ascending=True -> 작은거부터 쓴다는뜻
print stock_Price_Series_withIndex.sort_index(axis=0,ascending=False)#ascending=False -> 큰거부터 쓴다는뜻

print stock_Price_Series_withIndex.sort_index(axis=1,ascending=True) #세로측이고 작은거부터
print stock_Price_Series_withIndex.sort_index(axis=1,ascending=False) #세로측이고 큰거부터.

#양쪽모두
print stock_Price_Series_withIndex.sort_index(axis=0).sort_index(axis=1)

    바뀌는거      시가       종가     고가      저가
1일  1000  1100.0   1500.0   6000   500.0
2일   999  1098.9   1498.5   5994   499.5
3일  8888  9776.8  13332.0  53328  4444.0
4일   333   366.3    499.5   1998   166.5
5일  1111  1222.1   1666.5   6666   555.5
<bound method DataFrame.sort_index of     바뀌는거      시가       종가     고가      저가
1일  1000  1100.0   1500.0   6000   500.0
2일   999  1098.9   1498.5   5994   499.5
3일  8888  9776.8  13332.0  53328  4444.0
4일   333   366.3    499.5   1998   166.5
5일  1111  1222.1   1666.5   6666   555.5>
    바뀌는거      시가       종가     고가      저가
1일  1000  1100.0   1500.0   6000   500.0
2일   999  1098.9   1498.5   5994   499.5
3일  8888  9776.8  13332.0  53328  4444.0
4일   333   366.3    499.5   1998   166.5
5일  1111  1222.1   1666.5   6666   555.5
       고가  바뀌는거      시가      저가       종가
1일   6000  1000  1100.0   500.0   1500.0
2일   5994   999  1098.9   499.5   1498.5
3일  53328  8888  9776.8  4444.0  13332.0
4일   1998   333   366.3   166.5    499.5
5일   6666  1111  1222.1   555.5   1666.5
    바뀌는거      시가       종가     고가      저가
1일  1000  1100.0   1500.0   6000   500.0
2일   999  1098.9   1498.5   5994   499.5
3일  8888  9776.8  13332.0  53328  4444.0
4일   333   366.3    499.5   1998   166.5
5일  1111  1222.1   1666.5   6666   555.5
    바뀌는거      시가       종가     고가      저가
5일  1111  1222.1   1666.5   6666   555.5
4일   333   366.3    499.5   1998   166.5
3일  8888  9776.8  13332.0  53328  4444.0
2일   999  1098.9   1498.5   5994   499.5
1일  1000  1100.0   1500.0   6000   500.0
       고가  바뀌는거      시가      저가       종가
1일   6000  1000  1100.0   500.0   1500.0
2일   5994   999  1098.9   499.5   1498.5
3일  53328  8888  9776.8  4444.0  13332.0
4일   1998   333   366.3   166.5    499.5
5일   6666  1111  1222.1   555.5   1666.5
         종가      저가      시가  바뀌는거     고가
1일   1500.0   500.0  1100.0  1000   6000
2일   1498.5   499.5  1098.9   999   5994
3일  13332.0  4444.0  9776.8  8888  53328
4일    499.5   166.5   366.3   333   1998
5일   1666.5   555.5  1222.1  1111   6666
       고가  바뀌는거      시가      저가       종가
1일   6000  1000  1100.0   500.0   1500.0
2일   5994   999  1098.9   499.5   1498.5
3일  53328  8888  9776.8  4444.0  13332.0
4일   1998   333   366.3   166.5    499.5
5일   6666  1111  1222.1   555.5   1666.5

In [ ]:
#정렬 순위:sort_value ->해당컬럼의 '값'을 기준으로 정렬 . 컬럼명이아니라 ㅇㅇ 
print stock_Price_Series_withIndex.sort_values(by="고가")
print stock_Price_Series_withIndex.sort_values(by="고가", ascending=False)
print stock_Price_Series_withIndex.sort_values(by="고가", ascending=True)

In [ ]:
#인덱스 값이 중복됬을때도 에러를 발생하지않기때문에 해당내용은 체크해줘야한다
(pandas).index.is_unique #--> 이걸로 유효성 검사를할수있다.

#인덱스값이 중복된게 두개가있을경우는 둘다를 가져온다. 이부분체크해야함

In [170]:
#apply/applymap 등과 같이 일괄 적용부분!!
print stock_Price_Series_withIndex
print stock_Price_Series_withIndex.apply(lambda x:x.max()-x.min(),axis=0) #최고값에서 최저값을 뺀값을 출력 #전체가로줄에대해서 실행한다.
print stock_Price_Series_withIndex.apply(lambda x:x.max()-x.min(),axis=1) #전체세로줄에대해서 실행한다.
print stock_Price_Series_withIndex.apply(lambda x:x+1)
print stock_Price_Series_withIndex.apply(lambda x:x*100)

    바뀌는거      시가       종가     고가      저가
1일  1000  1100.0   1500.0   6000   500.0
2일   999  1098.9   1498.5   5994   499.5
3일  8888  9776.8  13332.0  53328  4444.0
4일   333   366.3    499.5   1998   166.5
5일  1111  1222.1   1666.5   6666   555.5
바뀌는거     8555.0
시가       9410.5
종가      12832.5
고가      51330.0
저가       4277.5
dtype: float64
1일     5500.0
2일     5494.5
3일    48884.0
4일     1831.5
5일     6110.5
dtype: float64
    바뀌는거      시가       종가     고가      저가
1일  1001  1101.0   1501.0   6001   501.0
2일  1000  1099.9   1499.5   5995   500.5
3일  8889  9777.8  13333.0  53329  4445.0
4일   334   367.3    500.5   1999   167.5
5일  1112  1223.1   1667.5   6667   556.5
      바뀌는거        시가         종가       고가        저가
1일  100000  110000.0   150000.0   600000   50000.0
2일   99900  109890.0   149850.0   599400   49950.0
3일  888800  977680.0  1333200.0  5332800  444400.0
4일   33300   36630.0    49950.0   199800   16650.0
5일  111100  122210.0   166650.0   666600   55550.0

In [171]:
stock_Price_Series_withIndex

    바뀌는거      시가       종가     고가      저가
1일  1000  1100.0   1500.0   6000   500.0
2일   999  1098.9   1498.5   5994   499.5
3일  8888  9776.8  13332.0  53328  4444.0
4일   333   366.3    499.5   1998   166.5
5일  1111  1222.1   1666.5   6666   555.5

In [175]:
stock_Price_Series_withIndex["Gap"] = stock_Price_Series_withIndex.apply(lambda x:x.max()-x.min(),axis=1)
stock_Price_Series_withIndex

    바뀌는거      시가       종가     고가      저가      Gap
1일  1000  1100.0   1500.0   6000   500.0   5500.0
2일   999  1098.9   1498.5   5994   499.5   5494.5
3일  8888  9776.8  13332.0  53328  4444.0  48884.0
4일   333   366.3    499.5   1998   166.5   1831.5
5일  1111  1222.1   1666.5   6666   555.5   6110.5

In [251]:
#이거보니까 우선 리스트를 만들어야겠네 ㅇㅇ 
#del stock_Price_Series_withIndex["Gap_forloop"]
#print stock_Price_Series_withIndex.ix[2]
# print stock_Price_Series_withIndex.ix[2][1]
# print stock_Price_Series_withIndex.ix[2].size
# print stock_Price_Series_withIndex.index[1]
# aa = []
# print aa
# MaxValue = 0
# MinValue = 0
stock_Price_Series_withIndex["Gap_forloop"] = 0
for i in range(0,len(stock_Price_Series_withIndex)):
    tempValue = stock_Price_Series_withIndex.ix[i,0:4]
    tempMax = tempValue.max()
    tempMin = tempValue.min()
    stock_Price_Series_withIndex.ix[i,"Gap_forloop"] = (tempMax - tempMin)
stock_Price_Series_withIndex
        

# print aa

# stock_Price_Series_withIndex["Gap_forloop"] = [1,2,3,4,5]
# stock_Price_Series_withIndex

    바뀌는거      시가       종가     고가      저가      Gap  Gap_forloop
1일  1000  1100.0   1500.0   6000   500.0   5500.0       5000.0
2일   999  1098.9   1498.5   5994   499.5   5494.5       4995.0
3일  8888  9776.8  13332.0  53328  4444.0  48884.0      44440.0
4일   333   366.3    499.5   1998   166.5   1831.5       1665.0
5일  1111  1222.1   1666.5   6666   555.5   6110.5       5555.0

In [259]:
#평균을 내보자 ㅇㅇ  #원하는 파일들만 골라서 할수도있다.
print stock_Price_Series_withIndex[["시가","종가","고가","저가"]].apply(lambda x:x.mean(),axis=1)#시리즈에서 mean은평균값

1일     2275.000
2일     2272.725
3일    20220.200
4일      757.575
5일     2527.525
dtype: float64

In [263]:
#지금은 안해도되는데 예전에는 해야함
import os
import sys
#위에꺼는 안해도되는거 확인함

testCVS_path ="\Users\\acorn\Downloads\sampleData\olive.csv"
print testCVS_path

olive_oil = pd.read_csv(testCVS_path)
olive_oil.head(10)

#names 이경우에는 -> 내가 쓸려는 컬럼명과 받은 데이터의 컬럼명이 다를때 이옵션을쓰면 내가 원하는 컬럼명을 쓸수있다. 뒤에서부터 채워짐
#head -> 컬럼명을 줄건지 안줄껀지이다. 이옵션을끄면 두번째줄에 컬럼명이 들어감.
#이외에도 많은 옵션이있다.

\Users\acorn\Downloads\sampleData\olive.csv

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46
5,6.North-Apulia,1,1,911,49,268,7924,678,51,70,44
6,7.North-Apulia,1,1,922,66,264,7990,618,49,56,29
7,8.North-Apulia,1,1,1100,61,235,7728,734,39,64,35
8,9.North-Apulia,1,1,1082,60,239,7745,709,46,83,33
9,10.North-Apulia,1,1,1037,55,213,7944,633,26,52,30

In [335]:
#이제시작함
olive_oil = pd.read_csv(testCVS_path)
olive_oil.head(3)

#앞에 부분 바꿀때ㅇㅇ
olive_oil["Unnamed: 0"] = olive_oil["Unnamed: 0"].apply(lambda x:str(int(x.split(".")[0]) -1) + "_"+ x.split(".")[1])
olive_oil

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,0_North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,1_North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,2_North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,3_North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,4_North-Apulia,1,1,1051,67,259,7771,672,50,80,46
5,5_North-Apulia,1,1,911,49,268,7924,678,51,70,44
6,6_North-Apulia,1,1,922,66,264,7990,618,49,56,29
7,7_North-Apulia,1,1,1100,61,235,7728,734,39,64,35
8,8_North-Apulia,1,1,1082,60,239,7745,709,46,83,33
9,9_North-Apulia,1,1,1037,55,213,7944,633,26,52,30
10,10_North-Apulia,1,1,1051,35,219,7978,605,21,65,24
11,11_North-Apulia,1,1,1036,59,235,7868,661,30,62,44
12,12_North-Apulia,1,1,1074,70,214,7728,747,50,79,33
13,13_North-Apulia,1,1,875,52,243,8018,655,41,79,32
14,14_North-Apulia,1,1,952,49,254,7795,780,50,75,41
15,15_North-Apulia,1,1,1155,98,201,7606,816,32,60,29
16,16_North-Apulia,1,1,943,94,183,7840,788,42,75,31
17,17_North-Apulia,1,1,1278,69,205,7344,957,45,70,28
18,18_North-Apulia,1,1,961,70,195,7958,742,46,75,30
19,19_North-Apulia,1,1,952,77,258,7820,736,43,78,33
20,20_North-Apulia,1,1,1074,67,236,7692,716,56,83,45
21,21_North-Apulia,1,1,995,46,288,7806,679,56,86,40
22,22_North-Apulia,1,1,1056,53,247,7703,700,54,89,51
23,23_North-Apulia,1,1,1065,39,234,7876,703,42,74,26
24,24_North-Apulia,1,1,1065,45,245,7779,696,47,82,38
25,25_Calabria,1,2,1315,139,230,7299,832,42,60,32
26,26_Calabria,1,2,1321,136,217,7174,950,43,63,30
27,27_Calabria,1,2,1359,115,246,7234,874,45,63,18
28,28_Calabria,1,2,1378,111,272,7127,940,46,64,23
29,29_Calabria,1,2,1295,109,245,7253,903,43,62,38
...,...,...,...,...,...,...,...,...,...,...,...
542,542_West-Liguria,3,8,1020,100,290,7620,960,0,10,2
543,543_West-Liguria,3,8,970,90,220,7700,1020,0,0,3
544,544_West-Liguria,3,8,1180,130,220,7450,1010,0,10,2
545,545_West-Liguria,3,8,1060,140,240,7690,850,10,10,1
546,546_West-Liguria,3,8,990,100,250,7630,1030,0,0,3
547,547_West-Liguria,3,8,1010,90,350,7630,940,10,0,3
548,548_West-Liguria,3,8,1040,90,250,7780,820,10,10,1
549,549_West-Liguria,3,8,1040,90,250,7810,810,10,10,2
550,550_West-Liguria,3,8,1020,90,350,7620,920,10,0,3
551,551_West-Liguria,3,8,1020,90,260,7620,1010,0,0,3
552,552_West-Liguria,3,8,1010,90,350,7610,930,10,0,3
553,553_West-Liguria,3,8,920,110,340,7720,910,0,0,3
554,554_West-Liguria,3,8,1030,100,250,7710,900,0,10,2
555,555_West-Liguria,3,8,960,90,300,7820,830,0,0,3
556,556_West-Liguria,3,8,1030,110,210,7810,840,0,0,1
557,557_West-Liguria,3,8,1010,100,240,7710,910,10,20,2
558,558_West-Liguria,3,8,1020,90,240,7800,850,0,0,2
559,559_West-Liguria,3,8,1120,90,300,7650,830,0,10,1
560,560_West-Liguria,3,8,1090,90,290,7710,800,10,0,2
561,561_West-Liguria,3,8,1100,120,280,7630,770,10,10,2
562,562_West-Liguria,3,8,1090,80,240,7820,760,10,0,2
563,563_West-Liguria,3,8,1150,90,250,7720,810,0,10,3
564,564_West-Liguria,3,8,1110,90,230,7810,750,0,10,2
565,565_West-Liguria,3,8,1010,110,210,7720,950,0,0,1
566,566_West-Liguria,3,8,1070,100,220,7730,870,10,10,2
567,567_West-Liguria,3,8,1280,110,290,7490,790,10,10,2
568,568_West-Liguria,3,8,1060,100,270,7740,810,10,10,3
569,569_West-Liguria,3,8,1010,90,210,7720,970,0,0,2
570,570_West-Liguria,3,8,990,120,250,7750,870,10,10,2
571,571_West-Liguria,3,8,960,80,240,7950,740,10,20,2

In [267]:
#컬럼의 바꾸고 싶은게있으면 rename쓰면된다 -->olive_oil.rename

#유니크한지 보려면
#print len(olive_oil["id_area"].unique())
print olive_oil.shape

(572, 11)

In [275]:
#문자열을 일괄적을 ㅗ바꿔주자
#print olive_oil["Unnamed: 0"]
#print olive_oil["Unnamed: 0"][0]                  #1.North-Apulia
#print olive_oil["Unnamed: 0"][0].split(".")       #['1', 'North-Apulia']
#print olive_oil["Unnamed: 0"][0].split(".")[0]    #1
#print int(olive_oil["Unnamed: 0"][0].split(".")[0]) -1  #0
#print str(int(olive_oil["Unnamed: 0"][0].split(".")[0]) -1)  #"0"





# olive_oil["id_area"][0].split(".")
# int(olive_oil["id_area"][0].split(".")[0])-1

0
0

0

In [277]:
olive_oil = pd.read_csv(testCVS_path)
print olive_oil.head(3)

       Unnamed: 0  region  area  palmitic  palmitoleic  stearic  oleic  \
0  1.North-Apulia       1     1      1075           75      226   7823
1  2.North-Apulia       1     1      1088           73      224   7709
2  3.North-Apulia       1     1       911           54      246   8113

   linoleic  linolenic  arachidic  eicosenoic
0       672         36         60          29
1       781         31         61          29
2       549         31         63          29

In [333]:
olive_oil.head(3)
#print olive_oil.ix[:,0]#.apply(lambda x:x,axis=1)
#print olive_oil.ix[:,0].apply(lambda x:"s",axis=1)
#print olive_oil.ix[:,0].values#.sorted(key=lambda x : x) #.apply(lambda x:x,axis=0)


olive_oil

#str(int(olive_oil["Unnamed: 0"][0].split(".")[0]) -1) + "_"+ olive_oil["Unnamed: 0"][0].split(".")[0]

olive_oil["Unnamed: 0"] = olive_oil["Unnamed: 0"].apply(lambda x:str(int(x.split(".")[0]) -1) + "_"+ x.split(".")[1])

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,0_2,1,1,1075,75,226,7823,672,36,60,29
1,0_2,1,1,1088,73,224,7709,781,31,61,29
2,0_2,1,1,911,54,246,8113,549,31,63,29
3,0_2,1,1,966,57,240,7952,619,50,78,35
4,0_2,1,1,1051,67,259,7771,672,50,80,46
5,0_2,1,1,911,49,268,7924,678,51,70,44
6,0_2,1,1,922,66,264,7990,618,49,56,29
7,0_2,1,1,1100,61,235,7728,734,39,64,35
8,0_2,1,1,1082,60,239,7745,709,46,83,33
9,0_2,1,1,1037,55,213,7944,633,26,52,30
10,0_2,1,1,1051,35,219,7978,605,21,65,24
11,0_2,1,1,1036,59,235,7868,661,30,62,44
12,0_2,1,1,1074,70,214,7728,747,50,79,33
13,0_2,1,1,875,52,243,8018,655,41,79,32
14,0_2,1,1,952,49,254,7795,780,50,75,41
15,0_2,1,1,1155,98,201,7606,816,32,60,29
16,0_2,1,1,943,94,183,7840,788,42,75,31
17,0_2,1,1,1278,69,205,7344,957,45,70,28
18,0_2,1,1,961,70,195,7958,742,46,75,30
19,0_2,1,1,952,77,258,7820,736,43,78,33
20,0_2,1,1,1074,67,236,7692,716,56,83,45
21,0_2,1,1,995,46,288,7806,679,56,86,40
22,0_2,1,1,1056,53,247,7703,700,54,89,51
23,0_2,1,1,1065,39,234,7876,703,42,74,26
24,0_2,1,1,1065,45,245,7779,696,47,82,38
25,0_2,1,2,1315,139,230,7299,832,42,60,32
26,0_2,1,2,1321,136,217,7174,950,43,63,30
27,0_2,1,2,1359,115,246,7234,874,45,63,18
28,0_2,1,2,1378,111,272,7127,940,46,64,23
29,0_2,1,2,1295,109,245,7253,903,43,62,38
...,...,...,...,...,...,...,...,...,...,...,...
542,0_2,3,8,1020,100,290,7620,960,0,10,2
543,0_2,3,8,970,90,220,7700,1020,0,0,3
544,0_2,3,8,1180,130,220,7450,1010,0,10,2
545,0_2,3,8,1060,140,240,7690,850,10,10,1
546,0_2,3,8,990,100,250,7630,1030,0,0,3
547,0_2,3,8,1010,90,350,7630,940,10,0,3
548,0_2,3,8,1040,90,250,7780,820,10,10,1
549,0_2,3,8,1040,90,250,7810,810,10,10,2
550,0_2,3,8,1020,90,350,7620,920,10,0,3
551,0_2,3,8,1020,90,260,7620,1010,0,0,3
552,0_2,3,8,1010,90,350,7610,930,10,0,3
553,0_2,3,8,920,110,340,7720,910,0,0,3
554,0_2,3,8,1030,100,250,7710,900,0,10,2
555,0_2,3,8,960,90,300,7820,830,0,0,3
556,0_2,3,8,1030,110,210,7810,840,0,0,1
557,0_2,3,8,1010,100,240,7710,910,10,20,2
558,0_2,3,8,1020,90,240,7800,850,0,0,2
559,0_2,3,8,1120,90,300,7650,830,0,10,1
560,0_2,3,8,1090,90,290,7710,800,10,0,2
561,0_2,3,8,1100,120,280,7630,770,10,10,2
562,0_2,3,8,1090,80,240,7820,760,10,0,2
563,0_2,3,8,1150,90,250,7720,810,0,10,3
564,0_2,3,8,1110,90,230,7810,750,0,10,2
565,0_2,3,8,1010,110,210,7720,950,0,0,1
566,0_2,3,8,1070,100,220,7730,870,10,10,2
567,0_2,3,8,1280,110,290,7490,790,10,10,2
568,0_2,3,8,1060,100,270,7740,810,10,10,3
569,0_2,3,8,1010,90,210,7720,970,0,0,2
570,0_2,3,8,990,120,250,7750,870,10,10,2
571,0_2,3,8,960,80,240,7950,740,10,20,2

In [336]:
olive_oil = pd.read_csv(testCVS_path)
olive_oil.head(3)

#앞에 부분 바꿀때ㅇㅇ
olive_oil["Unnamed: 0"] = olive_oil["Unnamed: 0"].apply(lambda x:str(int(x.split(".")[0]) -1) + "_"+ x.split(".")[1])
olive_oil

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,0_North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,1_North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,2_North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,3_North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,4_North-Apulia,1,1,1051,67,259,7771,672,50,80,46
5,5_North-Apulia,1,1,911,49,268,7924,678,51,70,44
6,6_North-Apulia,1,1,922,66,264,7990,618,49,56,29
7,7_North-Apulia,1,1,1100,61,235,7728,734,39,64,35
8,8_North-Apulia,1,1,1082,60,239,7745,709,46,83,33
9,9_North-Apulia,1,1,1037,55,213,7944,633,26,52,30
10,10_North-Apulia,1,1,1051,35,219,7978,605,21,65,24
11,11_North-Apulia,1,1,1036,59,235,7868,661,30,62,44
12,12_North-Apulia,1,1,1074,70,214,7728,747,50,79,33
13,13_North-Apulia,1,1,875,52,243,8018,655,41,79,32
14,14_North-Apulia,1,1,952,49,254,7795,780,50,75,41
15,15_North-Apulia,1,1,1155,98,201,7606,816,32,60,29
16,16_North-Apulia,1,1,943,94,183,7840,788,42,75,31
17,17_North-Apulia,1,1,1278,69,205,7344,957,45,70,28
18,18_North-Apulia,1,1,961,70,195,7958,742,46,75,30
19,19_North-Apulia,1,1,952,77,258,7820,736,43,78,33
20,20_North-Apulia,1,1,1074,67,236,7692,716,56,83,45
21,21_North-Apulia,1,1,995,46,288,7806,679,56,86,40
22,22_North-Apulia,1,1,1056,53,247,7703,700,54,89,51
23,23_North-Apulia,1,1,1065,39,234,7876,703,42,74,26
24,24_North-Apulia,1,1,1065,45,245,7779,696,47,82,38
25,25_Calabria,1,2,1315,139,230,7299,832,42,60,32
26,26_Calabria,1,2,1321,136,217,7174,950,43,63,30
27,27_Calabria,1,2,1359,115,246,7234,874,45,63,18
28,28_Calabria,1,2,1378,111,272,7127,940,46,64,23
29,29_Calabria,1,2,1295,109,245,7253,903,43,62,38
...,...,...,...,...,...,...,...,...,...,...,...
542,542_West-Liguria,3,8,1020,100,290,7620,960,0,10,2
543,543_West-Liguria,3,8,970,90,220,7700,1020,0,0,3
544,544_West-Liguria,3,8,1180,130,220,7450,1010,0,10,2
545,545_West-Liguria,3,8,1060,140,240,7690,850,10,10,1
546,546_West-Liguria,3,8,990,100,250,7630,1030,0,0,3
547,547_West-Liguria,3,8,1010,90,350,7630,940,10,0,3
548,548_West-Liguria,3,8,1040,90,250,7780,820,10,10,1
549,549_West-Liguria,3,8,1040,90,250,7810,810,10,10,2
550,550_West-Liguria,3,8,1020,90,350,7620,920,10,0,3
551,551_West-Liguria,3,8,1020,90,260,7620,1010,0,0,3
552,552_West-Liguria,3,8,1010,90,350,7610,930,10,0,3
553,553_West-Liguria,3,8,920,110,340,7720,910,0,0,3
554,554_West-Liguria,3,8,1030,100,250,7710,900,0,10,2
555,555_West-Liguria,3,8,960,90,300,7820,830,0,0,3
556,556_West-Liguria,3,8,1030,110,210,7810,840,0,0,1
557,557_West-Liguria,3,8,1010,100,240,7710,910,10,20,2
558,558_West-Liguria,3,8,1020,90,240,7800,850,0,0,2
559,559_West-Liguria,3,8,1120,90,300,7650,830,0,10,1
560,560_West-Liguria,3,8,1090,90,290,7710,800,10,0,2
561,561_West-Liguria,3,8,1100,120,280,7630,770,10,10,2
562,562_West-Liguria,3,8,1090,80,240,7820,760,10,0,2
563,563_West-Liguria,3,8,1150,90,250,7720,810,0,10,3
564,564_West-Liguria,3,8,1110,90,230,7810,750,0,10,2
565,565_West-Liguria,3,8,1010,110,210,7720,950,0,0,1
566,566_West-Liguria,3,8,1070,100,220,7730,870,10,10,2
567,567_West-Liguria,3,8,1280,110,290,7490,790,10,10,2
568,568_West-Liguria,3,8,1060,100,270,7740,810,10,10,3
569,569_West-Liguria,3,8,1010,90,210,7720,970,0,0,2
570,570_West-Liguria,3,8,990,120,250,7750,870,10,10,2
571,571_West-Liguria,3,8,960,80,240,7950,740,10,20,2

In [ ]:
olive_oil = pd.read_csv(testCVS_path)
olive_oil["Unnamed: 0"] = olive_oil["Unnamed: 0"].apply(lambda x:str(int(x.split(".")[0]) -1) + "_"+ x.split(".")[1])

#백분율도 가능하다 -> 나중에하면됨

In [338]:
#출력하는법
olive_oil.to_csv("\Users\\acorn\Downloads\sampleData\olive2.csv")

In [354]:
#cvs에서 구분자 바꾸는 방법
atPath = "\Users\\acorn\Downloads\sampleData\surveys_withAt.csv"

sur_at = pd.read_csv(atPath)
print sur_at.head(3)
sur_at = pd.read_csv(atPath,sep="@")
sur_at.head(3)

  record_id@month@day@year@plot_id@species_id@sex@hindfoot_length@weight
0                             1@7@16@1977@2@NL@M@32@
1                             2@7@16@1977@3@NL@M@33@
2                             3@7@16@1977@2@DM@F@37@

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN

In [ ]:

#큰파일 읽기 
bigFilePath = "~~~~~"
chunker = pd.read_csv(bigFilePath,chunksize = 1000) #chunksize로 나눠둔다.
bigCSV = pd.concat([x for x in chunker], ignore_index=True)  #concat는 합치는거 #이런식으로 합침ㅇㅇ
print bigCSV.shape
bigCSV.head(3)

In [359]:
#비슷한 파일들을 불러올때 
#이부분 잘 안됨 이따가 확인해봐야함
import glob
import sys
import os

path = "\Users\\acorn\Downloads\sampleDataWsame_format_files\*"
print path
filePathList = glob.glob(path)
print filePathList
#int filePathList

for i in range(0,len(filePathList)):
    temp = os.path.basename(filePathList[i])
    temp = os.path.splitext(temp)[0]
    vars["data_"+str(temp)] = pd.read_csv(filePathList[i]) #vars는 바꿔주는것
    
    data_1763.head(3)

c:\Users\acorn\Downloads\sampleDataWsame_format_files\*
[]

In [ ]:
#폴더상에 있는 동일한 확장자의 파일들을 불러와서 처리한느법
data_tot = pd.DataFrame()
for i in range(0,len(filePathList)):
    data_tot = data_tot.append(pd.read_csv(filePathList[i],header=None),ignore_index = True)
    
print data_tot.shape
data_tot.head(3)

In [369]:
#Excel파일 읽고 쓰기

excelFilePath = "\Users\\acorn\Downloads\sampleData\surveys_excelformat.xls"

excel_data = pd.read_excel(excelFilePath,sheetname="Sheet1")
print excel_data.head(3)

#빠진거 채우는법
excel_data.fillna(0) #없던걸 0 으로 채움
excel_data.head(3)

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2          3      7   16  1977        2         DM   F             37.0

   weight
0     NaN
1     NaN
2     NaN

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN

In [374]:
#신버전 엑셀 내보낼때는 xlsxwriter 패키지로 내보야한다.
import xlsxwriter
excelOutPath = "\Users\\acorn\Downloads\sampleData\surveys_excelformat24.xlsx"
writer = pd.ExcelWriter(excelOutPath,engine='xlsxwriter')
excel_data.to_excel(writer,"Sheet1",index=False)
#excel_data.to_excel(writer,"Sheet1",encoding="CP949",index=False) #윈도우의 경우 엔진이 CP949라 이걸 해주면된다고한다 
writer.save()